<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리스트페이지</title>
</head>
<body>
    <div id="inner">
        <h1>게시글 목록</h1>
        <ul>
            {% if lists.length > 0 %}
                {% for item in lists %}
                    <li>
                        <p>{{ item.id }}번째 글</p>
                        <p>ID: {{ item.userId }}</p>
                        <p>내용: {{ item.content }}</p>
                        <p>생성일: {{ item.date }}</p>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
        <button onclick="location.href = `/boards/create`">글 작성</button>
    </div>
</body>
</html>